.exam-detail-main {
  background: #fff;
  margin-top: 20px;
  padding: 20px;
  table {
    border: 1px solid #e8e8e8;
    border-bottom: 0px;
  }
  .status1 {
    color: #ffab3c;
  }
  .status2 {
    color: #1890ff;
  }
  .status3 {
    color: #999;
  }
  .status4 {
    color: #999;
  }
  .status {
    color: #ff3638;
  }
}
