.topic-block {
  font-family: PingFang SC;
  width: 100%;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  .tit {
    line-height: 33px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    opacity: 1;
    margin-bottom: 20px;
    .timer {
      float: right;
      height: 20px;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      color: rgba(51, 51, 51, 1);
      opacity: 1;
    }
  }
  .topic-tit {
    height: 40px;
    background: rgba(245, 245, 245, 1);
    opacity: 1;
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(51, 51, 51, 1);
  }
}

.upPaper {
  font-family: PingFang SC;
  width: 100%;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  margin-top: 20px;
  .tit {
    line-height: 33px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    opacity: 1;
    margin-bottom: 20px;
    button {
      float: right;
    }
  }
  .upPaper-tips {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(51, 51, 51, 1);
    opacity: 1;
    margin-bottom: 80px;
    span {
      color: #3f8dff;
    }
  }
}

// 上传历史
.uploadHistory {
  font-family: PingFang SC;
  width: 100%;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  margin-top: 20px;
  .tit {
    line-height: 33px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    opacity: 1;
    margin-bottom: 20px;
  }
  .paper-history-step {
    .ant-steps-item-content {
      width: 90%;
      padding-bottom: 20px;
      .ant-steps-item-title {
        width: 100%;
        position: relative;
        padding-top: 30px;
        span {
          margin-right: 20px;
        }
        p {
          display: inline;
          color: #333;
        }
        a {
          height: 20px;
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;
          color: rgba(63, 141, 255, 1);
          opacity: 1;
          margin-left: 20px;
        }
      }
      .ant-steps-item-description {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        color: rgba(51, 51, 51, 1);
        opacity: 1;
      }
      .ant-steps-item-subtitle {
        display: block;
        position: absolute;
        top: 0;
        margin-left: 0px;
      }
    }
  }
}
